body {
  font-family: comfortaa, arial rounded, arial;
  text-align: center;
  padding: 20px;
  background: #fafafa;
}

#sticker-buttons {
  margin: 15px;
}

button {
  margin: 5px;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  background: #c9f4ff;
  color: #32a885;
  cursor: pointer;
}

button:hover {
  background: #c4ffab;
}
